<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles.css">
  <title>Admin</title>
</head>
<body>
  <div class="admin-container">
  <a href="/home" class="back-link">
    <span>Back</span>
  </a>
  <%- include("partials/errors.ejs") %>
  <!-- psql uses all lower case for column names by default -->
  <% if (currentUser.isadmin) {%>
    <h1>You're already an Admin</h1>
  <% } else { %>
  <form action="/admin" method="POST" class="admin-form">
    <label for="adminCode">Please enter a code:</label>
    <input id="adminCode" name="adminCode" placeholder="Admin code" type="text" />
    <button type="submit" class="admin-btn">Submit</button>
  </form>
  <%}%>
  </div>
</body>
</html>