<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Confirm Delete</title>
</head>
<body>
  <a href="/home">
    <span>Home</span>
  </a>
  <% if (locals.currentUser) {%>
    <h1>Message deleted</h1>
  <% } else { %>
    <h1>Failed to deleted</h1>
  <%}%>
</body>
</html>