<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <%- include("./navbar.ejs") %>

  <% if (locals.currentUser) {%>
    <% messages.forEach((msg) => { %>
      <%- include("messages", {msg: msg, user: currentUser}); %>
    <% }) %>
  <% } else { %>
    <h1>please log in</h1>
    <a href="/">Log In</a>
  <%}%>
</body>
</html>