<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles.css">
  <title>Welcome to Members Only</title>
</head>
<body>
  <div class="index-container">
  <% if (locals.user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <div class="directory">
      <a href="/home">
        <button class="home-btn">
          Home
        </button>
      </a>
      <a href="/log-out">
        <button class="logout-btn">
          Log out
        </button>
      </a>
    </div>
  <% } else { %>
    <h1 class="form-header">Log in</h1>
    <form action="/log-in" method="POST" class="login-form">
      <label for="username">Username</label>
      <input id="username" name="username" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <button type="submit" class="login-btn">Log In</button>
    </form>
    <div class="signup-container">
      <h4>
        Or sign up for an account:
      </h4>
      <a href="/sign-up" class="signup-link">
        <button class="signup-btn">
          Sign Up
        </button>
      </a>
    </div>
  </div>
  <%}%>
</body>
</html>
