<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles.css">
  <title>Membership</title>
</head>
<body>
  <a href="/home">
    <span>Back</span>
  </a>
  <%- include("partials/errors.ejs") %>
  <% if (currentUser.membership) {%>
    <h1>You're already a member</h1>
  <% } else { %>
  <form action="/membership" method="POST">
    <label for="secretCode">Become a member</label>
    <input id="secretCode" name="secretCode" placeholder="Secret code" type="text" />
    <button type="submit">Join</button>
  </form>
  <%}%>
</body>
</html>