<nav>
    <ul>
        <li>
            <a href="/new-post">
                <span>New Post</span>
            </a>
        </li>
        <li>
            <a href="/membership">
                <span>Become a Member</span>
            </a>
        </li>
        <li>
            <a href="/log-out">
                <span>Log Out</span>
            </a>
        </li>
    </ul>
</nav>