<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles.css">
  <title>New Post</title>
</head>
<body>
  <div class="newpost-container">
  <a href="/home" class="back-link">
    <span>Back</span>
  </a>
  <% if (locals.currentUser) {%>
    <form action="/new-post" method="POST" class="newpost-form">
      <label for="postTitle">Title</label>
      <input id="postTitle" name="postTitle" placeholder="Title" type="text" required />
      <label for="newMessage">Message</label>
      <textarea name="newMessage" id="newMessage" placeholder="e.g. Hello world!" required></textarea>
      <button type="submit" class="post-btn">Post</button>
    </form>
  <% } else { %>
    <h1>please log in</h1>
    <a href="/">Log In</a>
  <%}%>
  </div>
</body>
</html>