<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles.css">
  <title>Sign Up</title>
</head>
<body>
  <div class="signup-page-container">
  <h1>Sign Up</h1>
  <%- include("partials/errors.ejs") %>
  <form action="/sign-up" method="POST" class="signup-form">
    <label for="firstName">First name</label>
    <input id="firstName" name="firstName" placeholder="First name" type="text" />
    <label for="lastName">Last name</label>
    <input id="lastName" name="lastName" placeholder="Last name" type="text" />
    <label for="username">Username</label>
    <input id="username" name="username" placeholder="username" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <label for="confirmPassword">Confirm password</label>
    <input id="confirmPassword" name="confirmPassword" type="password" />
    <button type="submit" class="signup-page-btn">Sign Up</button>
    <div class="login-section">
      <h4>
        Already have an account?
      </h4>
      <a href="/" class="login-link">
        <button type="button" class="signup-page-login">
          Log in
        </button>
      </a>
    </div>
  </form>
  </div>

</body>
</html>
