* {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
:root {
    --background: #212121;
    --white: #E8E8E8;
    --purple: #BB86FC;
}

html, body {
    min-height: 100vh;
    background-color: var(--background);
    color: var(--white);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* index view */
.index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--white);
    border-radius: 10px;
}

.form-header {
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    font-size: 18px;
}

.login-form input {
    margin-bottom: 20px;
    padding: 2px 4px;
    font-size: 16px;
}

.login-btn {
    margin-bottom: 10px;
    padding: 2px 4px;
    font-weight: bold;
    font-size: 18px;
}

.signup-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.signup-container a {
    text-decoration: none;
}

.signup-btn {
    display: flex;
    justify-self: center;
    font-size: 16px;
    font-weight: bold;
    padding: 2px 6px;
    margin-top: 10px;
}

.directory {
    padding: 4px 10px;
}

.home-btn,
.logout-btn {
    font-size: 18px;
    font-weight: bold;
    padding: 2px 6px;
    cursor: pointer;
}

.home-btn {
    margin-right: 20px;
}

/* home view */
.navbar {
    padding: 4px 10px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links > li {
    list-style-type: none;
}

.navbar-links a {
    text-decoration: none;
    color: var(--background);
    font-weight: bold;
    padding: 4px 10px;
}

.navbar-links a:hover {
    background-color: #BB86FC;
}

.message-container {
    border: 1px solid var(--white);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}

.general-access .message-title {
    font-size: 18px;
    font-weight: bold;
}

.general-access .message-text {
    font-size: 18px;
    margin-bottom: 10px;
}

.admin-access {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
}

.delete-message {
    cursor: pointer;
    font-size: 14px;
    padding: 0px 2px;
}

/* newPost view */
.newpost-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.back-link {
    text-decoration: none;
    color: var(--background);
    font-size: 18px;
    font-weight: bold;
    background-color: var(--purple);
    width: 60px;
    border-radius: 8px;
    border: 2px solid var(--white);
    display: flex;
    justify-content: center;
}

.newpost-form {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--white);
    border-radius: 10px;
    padding: 10px;
}

.newpost-form label {
    font-size: 18px;
}

.newpost-form input,
.newpost-form textarea {
    margin-bottom: 20px;
    padding: 4px;
    font-size: 16px;
}

.newpost-form textarea {
    min-height: 100px;
}

.post-btn {
    padding: 2px 4px;
    font-weight: bold;
    font-size: 18px;
}

/* membership and admin views */
.membership-container,
.admin-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.membership-form,
.admin-form {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--white);
    border-radius: 10px;
    padding: 10px;
}

.membership-form label,
.admin-form label {
    font-size: 18px;
}

.membership-form input,
.admin-form input {
    margin-bottom: 20px;
    padding: 4px;
    font-size: 16px;
}

.membership-btn,
.admin-btn {
    padding: 2px 4px;
    font-weight: bold;
    font-size: 18px;
}